@page
@model AdminOptionsModel
@{

}


<div class="d-flex p-2 m-3">
    <input type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/AddUniversity'" value="Add University">
</div>

<div class="d-flex p-2 m-3">
    <input type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/DeleteSchool'" value="Delete University">
</div>

<div class="d-flex p-2">
    <input type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/ViewPrograms'" value="See list of Universities">
</div>

<div class="d-flex p-2">
    <input type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/EditProgram'" value="Update University List">
</div>
