@page
@model StudyAbroadMain.Pages.AdminOptionsModel
@{
}


<div class="d-flex p-2 m-3">
    <button type="button" class="btn btn-primary btn-lg">Add University</button>
</div>

<div class="d-flex p-2 m-3">
    <button type="button" class="btn btn-primary btn-lg">Delete University</button>
</div>

<div class="d-flex p-2">
    <button type="button" class="btn btn-primary btn-lg">See list of Universities</button>
</div>

<div class="d-flex p-2">
    <button type="button" class="btn btn-primary btn-lg">Update University List</button>
</div>
