@page
@model AdminOptionsModel
@{

}


<div class="p-2 m-3">
    <input type="button" class="btn btn-primary" onclick="window.location.href='/AddUniversity'" value="Add University">
    <input type="button" class="btn btn-danger" onclick="window.location.href='/DeleteSchool'" value="Delete University">
    <input type="button" class="btn btn-secondary" onclick="window.location.href='/ViewPrograms'" value="See list of Universities">
    <input type="button" class="btn btn-secondary" onclick="window.location.href='/EditProgram'" value="Update University List">
</div>
