@page
@model DeleteSchoolModel
@{
    ViewData["Title"] = "Home page";
    List<string> schoolList = Database.DBoutput();
}

<div class="text-center">
    <h1 class="display-4" id="test">Delete a Program</h1>
    <form method="post">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="col">
                <div class="card mx-auto" style="width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">Select continent(s):</h5>
                        <div class="btn-group-vertical mx-auto mb-3" role="group" aria-label="continent button group">
                            @foreach (string school in schoolList)
                            {
                                <input type="radio" class="btn-check" name="radAnswer" value="@school" id="@school" autocomplete="off">
                                <label class="btn btn-outline-primary" for="@school">@school</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Delete">
    </form>
</div>
