@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //string db = Database.DBoutput();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p> @db </p>
</div>*@
