@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<string> schoolList = Database.DBoutput();
}

<body class="text-center">
    <h1 class="display-4">Study Abroad Questionnaire</h1>
    @foreach(string school in schoolList)
    {
        <p>@school</p>
    }


    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card mx-auto" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Select continent(s):</h5>
                    <div class="btn-group-vertical mx-auto mb-3" role="group" aria-label="continent button group">
                        <input type="checkbox" class="btn-check" id="btncheckAfrica" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btncheckAfrica">Africa</label>

                        <input type="checkbox" class="btn-check" id="btncheckAsia" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btncheckAsia">Asia</label>

                        <input type="checkbox" class="btn-check" id="btncheckAustralia" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btncheckAustralia">Australia</label>

                        <input type="checkbox" class="btn-check" id="btncheckEurope" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btncheckEurope">Europe</label>

                        <input type="checkbox" class="btn-check" id="btncheckCentral" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btncheckCentral">Central/South America/Caribbean</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>


</body>
