@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}


<div class="text-center">
    <h1 class="display-4">Login</h1>

    <label for="uname">Username:</label>
    <input type="text" id="uname" name="uname" placeholder="username">
    <br>
    <label for="pswd">Password:</label>
    <input type="text" id="pswd" name="pswd" placeholder="password">
</div>
