@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<string> db = Database.DBoutput();
}

<div class="text-center">
    <h1 class="display-4">Current List of Programs</h1>
    @foreach (string school in db)
    {
        <p>@school</p>
    }
</div>
